@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var currentPath = Context.Request.Path;
}

<header id="header" class="border-b border-[var(--sl-color-neutral-300)]">
    <div class="flex items-center justify-between px-4 py-2">

        <!-- Left section (Brand) -->
        <div class="font-title font-bold text-xl tracking-tight">
            Book Notes IA
        </div>

        <!-- Right section -->
        @if(SignInManager.IsSignedIn(User)){
            <div class="flex items-center gap-2">
                <form asp-area="Identity"
                    asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                    method="post"
                    id="logoutForm"
                    class="m-0">

                    <sl-tooltip content="Logout">
                        <sl-button
                            size="small"
                            onclick="document.getElementById('logoutForm').submit()">
                            <sl-icon name="box-arrow-right" slot="prefix"></sl-icon>
                        </sl-button>
                    </sl-tooltip>

                </form>
            </div>
        }
    </div>
</header>
