# Background Random Images
UNSPLASH_ACCESS_KEY=your_access_key_here
UNSPLASH_SECRET_KEY=your_secret_key_here

# Azure AI
AZURE_OPENAI_ENDPOINT=https://your-resource-name.openai.azure.com/
AZURE_LLM_DEPLOYMENT_NAME=your_deployment_name_here
AZURE_OPENAI_API_KEY=your_api_key_here