services:
  webapp:
    build:
      context: ./WebApp
      dockerfile: Dockerfile
    container_name: webapp
    ports:
      - "8080:8080"
    volumes:
      - ./WebApp:/app
      - /app/bin
      - /app/obj
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - OLLAMA_URL=http://ollama:11434
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=booknotes;Username=postgres;Password=postgres
      - ConnectionStrings__Redis=redis:6379
    depends_on:
      - ollama
      - postgres
      - redis

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    environment: 
      POSTGRES_DB: booknotes
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports: 
      - "5432:5432"
    volumes: 
      - pg_data:/var/lib/postgresql/data

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    restart: unless-stopped
    environment:
      - OLLAMA_KEEP_ALIVE=60
    entrypoint: /bin/bash
    command: -c "ollama serve & sleep 8 && ollama pull qwen2.5:3b && wait"

volumes:
  ollama_models:
  pg_data:
  redis_data:
