@{
    ViewData["Title"] = "Home";
}

<h1 class="font-title mt-6 mb-6 text-xl">Welcome to Perene BookNotes</h1>

<div class="flex flex-row gap-2 m-4">
    <sl-button 
        hx-get="@Url.Action("Chat", "Chat")"
        hx-target="#chat-container"
        hx-swap="innerHTML"
        variant="primary"
    >
        <sl-icon slot="prefix" name="chat-left-text"></sl-icon>
        Talk with Our AI
    </sl-button>
    <sl-button variant="primary"> 
        <sl-icon slot="prefix" name="journal-arrow-down"></sl-icon>
        Upload Notes
    </sl-button>
    <sl-button variant="primary"> 
        <sl-icon slot="prefix" name="eye"></sl-icon>
        See Your Notes
    </sl-button>
</div>

<div id="chat-container">
    <!-- Chat will load here -->
</div>

