:host, .sl-theme-dark
    --sl-color-primary-50: rgb(255 248 245)
    --sl-color-primary-100: rgb(255 231 223)
    --sl-color-primary-200: rgb(255 213 198)
    --sl-color-primary-300: rgb(240 197 182)
    --sl-color-primary-400: rgb(216 178 164)
    --sl-color-primary-500: rgb(185 153 141)
    --sl-color-primary-600: rgb(153 126 116)
    --sl-color-primary-700: rgb(125 103 95)
    --sl-color-primary-800: rgb(103 85 79)
    --sl-color-primary-900: rgb(73 60 56)
    --sl-color-primary-950: rgb(45 37 34)


    // --sl-color-neutral-1000: rgb(249 249 250) 
    // --sl-color-neutral-950: rgb(249 249 250)
    // --sl-color-neutral-900: rgb(236 236 240)
    // --sl-color-neutral-800: rgb(222 221 228)
    // --sl-color-neutral-700: rgb(207 205 215)
    // --sl-color-neutral-600: rgb(186 184 198)
    // --sl-color-neutral-500: rgb(160 158 177)
    // --sl-color-neutral-400: rgb(132 129 154)
    // --sl-color-neutral-300: rgb(108 105 134)
    // --sl-color-neutral-200: rgb(89 85 119)
    // --sl-color-neutral-100: rgb(63 58 97)
    // --sl-color-neutral-50: rgb(38 33 72) 
    // --sl-color-neutral-0: rgb(38 33 72)
