\:root
  --font-family-title: 'Zilla Slab', serif
  --font-family-base: 'Crimson Text', Georgia, serif
  --sl-input-focus-ring-color: var(--sl-color-primary-300)
  --sl-input-focus-ring: 0 0 0 3px var(--sl-color-primary-300)