@use '../variables'

sl-details::part(base)
  background-color: rgba(255,255,255,0.04)
  border-color: rgba(255,255,255,0.10)
  border-radius: var(--book-radius)

sl-details::part(summary)
  font-family: var(--font-family-title)
  color: rgba(255,255,255,0.85)

sl-details::part(summary-icon)
  color: rgba(255,255,255,0.50)

